<div class="container">
  <ul class="nav nav-tabs my-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">My bookings to review</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">My items</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">My pending bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My confirmed bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Active bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-white" id="inactive-tab" data-bs-toggle="tab" data-bs-target="#inactive" type="button" role="tab" aria-controls="inactive" aria-selected="false">Inactive bookings</button>
    </li>
  </ul>

  <div class="tab-content mb-5" id="myTabContent">
    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
      <div class="color-title">MY BOOKING TO REVIEW</div>
      <div class="cards-container">
       <div class="cards-index">
        <% @my_bookings_to_review.each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <%= render 'shared/card', item: booking.item %>
            <%= link_to 'Accept this booking', status_booking_path(booking, accepted: true), method: :patch %>
            <%= link_to 'Decline this booking', status_booking_path(booking, accepted: false), method: :patch %>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>

  <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="color-title">MY JPEG</div>
    <div class="cards-container">
      <div class="cards-index">
        <% @my_items.each do |item| %>
          <%= link_to item_path(item) do %>
            <%= render 'shared/card', item: item %>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>

  <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
    <div class="color-title">MY PENDING JPEG BOOKINGS</div>
    <div class="cards-container">
      <div class="cards-index">
        <% @pending_bookings.each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <%= render 'shared/card', item: booking.item %>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>


  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="color-title"> MY CONFIRMED JPEG BOOKINGS</div>
    <div class="cards-container">
      <div class="cards-index">
        <% @my_confirmed_bookings.each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <%= render 'shared/card', item: booking.item %>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="color-title">MY ACTIVE JPEG BOOKINGS</div>
    <div class="cards-container">
      <div class="cards-index">
        <% @active_incoming_bookings.each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <%= render 'shared/card', item: booking.item %>
          <% end %>
        <% end %>
      </div>
    </div>
 </div>

  <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="contact-tab">
    <div class="color-title">MY INACTIVE JPEG BOOKINGS</div>
    <div class="cards-container">
      <div class="cards-index">
        <% @inactive_incoming_bookings.each do |booking| %>
          <%= link_to item_path(booking.item) do %>
            <%= render 'shared/card', item: booking.item %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
