<div class="cadre">
<div class="row my-2">

<h2>WOW MY JPAY</h2>
<% @my_items.each do |item| %>
<div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
<div class="bg-white rounded shadow h-100">

      <div class="p-3 rounded-bottom d-flex flex-column">
        <% if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, alt: item.name, class: "container-card" %>
        <% end %>
        <div class="d-flex align-items-end justify-content-between pt-4">
          <div>
            <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= item.name %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row my-2">

<h2>WOW MY JPAY BOOKINGS</h2>
<% @bookings.each do |booking| %>
<div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
<div class="bg-white rounded shadow h-100">

      <div class="p-3 rounded-bottom d-flex flex-column">
        <% if booking.item.photo.attached? %>
          <%= cl_image_tag booking.item.photo.key, alt: booking.item.name, class: "container-card" %>
        <% end %>
        <div class="d-flex align-items-end justify-content-between pt-4">
          <div>
            <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= booking.item.name %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row my-2">
<h2>WOW MY ACTIVE JPAY BOOKINGS</h2>
<% @active_incoming_bookings.each do |booking| %>
  <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
    <div class="bg-white rounded shadow h-100">

      <div class="p-3 rounded-bottom d-flex flex-column">
        <% if booking.item.photo.attached? %>
          <%= cl_image_tag booking.item.photo.key, alt: booking.item.name, class: "container-card" %>
        <% end %>
        <div class="d-flex align-items-end justify-content-between pt-4">
          <div>
              <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= booking.item.name %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row my-2">

<h2>WOW MY INACTIVE JPAY BOOKINGS</h2>
<% @inactive_incoming_bookings.each do |booking| %>
<div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
<div class="bg-white rounded shadow h-100">


        <div class="p-3 rounded-bottom d-flex flex-column">
          <% if booking.item.photo.attached? %>
            <%= cl_image_tag booking.item.photo.key, alt: booking.item.name, class: "container-card" %>
          <% end %>
          <div class="d-flex align-items-end justify-content-between pt-4">
            <div>
              <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= booking.item.name %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
