
<h1><%= @item.name %></h1>


<div>
  <div class="card card-item-center">
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="card card-item-center">
    <br>
    <h3><%= @item.price %>€</h3>
  </div>
</div>

<div class="center-button">

  <% if @item.user == current_user %>
    <%= link_to 'Dashboard', dashboard_path, class: "btn btn-gradient" %>
  <% else %>
    <%= link_to 'Rent this Jpay', new_item_booking_path(@item), class: "btn btn-gradient" %>
  <% end %>
</div>
