<!DOCTYPE html>
<html>
  <head>
    <title>Jpay - Rent Jpegs Online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= yield %>

<div class="container-text">
<p>Paris (/pa.ʁi/aÉcouter) est la commune la plus peuplée et la capitale de la France.

Elle se situe au cœur d'un vaste bassin sédimentaire aux sols fertiles et au climat tempéré, le bassin parisien, sur une boucle de la Seine, entre les confluents de celle-ci avec la Marne et l'Oise. Paris est également le chef-lieu de la région Île-de-France et le centre de la métropole du Grand Paris, créée en 2016. Elle est divisée en arrondissements, comme les villes de Lyon et de Marseille, au nombre de vingt. Administrativement, la ville constitue depuis le 1er janvier 2019 une collectivité à statut particulier nommée « Ville de Paris » (auparavant, elle était à la fois une commune et un département). L'État y dispose de prérogatives particulières exercées par le préfet de police de Paris. La ville a connu de profondes transformations sous le Second Empire dans les décennies 1850 et 1860 à travers d'importants travaux consistant notamment au percement de larges avenues, places et jardins et la construction de nombreux édifices, dirigés par le baron Haussmann, donnant à l'ancien Paris médiéval le visage qu'on lui connait de nos jours.

La ville de Paris comptait 2,187 millions d'habitants au 1er janvier 2020. Ses habitants sont appelés Parisiens. L'agglomération parisienne s’est largement développée au cours du xxe siècle, rassemblant 10,73 millions d'habitants au 1er janvier 2020, quand son aire urbaine (l'agglomération et la couronne périurbaine) comptait 12,78 millions d'habitants. L'agglomération parisienne est ainsi la plus peuplée de France, elle est la troisième du continent européen et la 32e plus peuplée du monde au 1er janvier 2019.

La position de Lutèce, sur l'île aujourd'hui nommée l'île de la Cité, permettant le franchissement du grand fleuve navigable qu'est la Seine par une voie reliant le Nord et le Sud des Gaules, en fait dès l'Antiquité une cité importante, capitale des Parisii, puis lieu de séjour d'un empereur romain. Sa position au centre du territoire contrôlé par les rois francs la fait choisir comme capitale de la France durant le règne de Clovis à la place de Tournai (elle le devient continuellement depuis la Révolution). Située au cœur d'un territoire agricole fertile avec un climat humide et doux, Paris devient une des principales villes de France au cours du xe siècle, avec des palais royaux, de riches abbayes et une cathédrale. Au cours du xiie siècle, avec l'université de Paris, la cité devient un des premiers foyers en Europe pour l’enseignement et les arts. Le pouvoir royal se fixant dans cette ville, son importance économique et politique ne cesse de croître. Ainsi, au début du xive siècle, Paris est l'une des villes les plus importantes du monde chrétien. Au xviie siècle, elle est la capitale de la principale puissance politique européenne ; au xviiie siècle, l'un des plus grands centres culturels de l’Europe ; et au xixe siècle, la capitale des arts et des plaisirs. Du xvie siècle au xxe siècle, Paris a été la capitale de l'Empire colonial français. De 1804 à 1814, elle fut la capitale de l'Empire napoléonien qui couvrait une grande partie de l'Europe. Paris joue donc un rôle de tout premier plan dans l'histoire de l'Europe et du monde depuis le Moyen Âge.

Paris symbolise la culture française. Surnommée la Ville Lumière, elle abrite des monuments mondialement connus comme la cathédrale Notre-Dame de Paris, la Tour Eiffel ou encore l'Arc de Triomphe en haut de l'avenue des Champs-Élysées, et elle est l'une des villes les plus visitées au monde. En 2015 elle est élue la ville la plus admirée au monde. Son Musée du Louvre est le musée d'art le plus grand et le plus visité au monde. Paris est la capitale mondiale du luxe. Les premier et troisième groupes mondiaux ont leur siège à Paris. Parmi les marques de luxe les plus valorisées au monde les marques françaises sont les plus nombreuses et les trois premières sont parisiennes. À Paris se déroule tous les ans la plus prestigieuse semaine internationale de la mode. C'est dans cette ville qu'ont exercé et qu'exercent des couturiers de renommée mondiale et plusieurs marques françaises du luxe sont connues internationalement. La culture gastronomique parisienne compte parmi les plus influentes et les plus prescriptrices au monde, notamment à travers l'édition annuelle du célèbre Guide Rouge Michelin.

La ville est, avec sa banlieue, la capitale économique de la France. Elle est la première place financière et boursière du pays. Avec un PIB urbain de 686 milliards d'euros en 2017, Paris est la deuxième plus grosse économie urbaine du continent européen après Londres1. En 2017, le quartier d'affaires de La Défense est le plus grand d'Europe et le quatrième dans le monde en termes d'attractivité. Toujours en 2017, la région parisienne accueille plus d'institutions internationales et de sièges sociaux de très grandes entreprises que New York et que Londres . En 2018, elle est le siège de deux des dix plus grandes banques mond</p>
</div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div id="scroll_to_top">
      <%= link_to "#top" do %>
        <%= image_tag("logo_transparentwhite.png") %>
      <% end %>
    </div>

    <div class="btn-footer">
      <a href="https://www.airbnb.fr/" target="blank" style="font-size: 14px;">Confidentialité</a>
      <a href="https://www.airbnb.fr/" target="blank" style="font-size: 14px;">Mentions</a>
    </div>
  </div>


  </body>
</html>
