<!DOCTYPE html>
<html>
  <head>
    <title>Jpay - Rent Jpegs Online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% flash.each do |type, msg|%>
      <div data-controller="flash" data-flash-target="popup" class="flash flash-<%=type %> alert alert-dismissible fade show" role="alert">
        <span><%= msg %></span>
        <a data-action="click->flash#hidePopup" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <div>
      <div style="min-height: 80vh">
        <%= yield %>
      </div>
    </div>
      <%= render 'shared/footer' %>

  </body>
</html>
