<!DOCTYPE html>
<html>
  <head>
    <title>Jpay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
        <%= image_tag('logo_transparent.png', width:'80', height:'80') %>
        </a>
      </div>
    </nav>
  <%= yield %>
  </body>
</html>
